travel-planner {
    width: 620px;
    min-height: 620px;
    background-color: #93D662;
    display: block;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 20px;
}

.content {
    flex-grow: 1;
    flex-direction: row;
    padding: 0px 0px 0px 20px;
    display: flex;
    justify-content: flex-start;
}

category-value-select, travel-evaluation {
    align-self: flex-start;
    flex: 1;
}

co2-footprint {
    background-image: url('../img/skala-hintergrund.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-position-y: 68px;
    background-size: 68%;
    width: 100px;
}

co2-footprint svg{
    position: relative;
    right: -18px;
}
