travel-planner {
    width: 620px;
    min-height: 620px;
    background-color: #93D662;
    display: block;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 20px;
}

.content {
    flex-grow: 1;
    flex-direction: row;
    padding: 20px;
}