@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,500,500italic);

travel-planner {
    width: 620px;
    min-height: 620px;
    background-color: #f0f0f0;
    display: block;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    border-top: 5px solid #93d661;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-image 1s ease-in-out;
}

.header {
    padding: 20px 0px 0px 20px;
}

.header h1 {
    color: transparent;
    background-image: url('../img/heading.png');
    background-repeat: no-repeat;
    background-position: left center;
    width: 351px;
    height: 78px;
}

.content {
    flex-grow: 1;
    flex-direction: row;
    padding: 0px 0px 0px 20px;
    display: flex;
    justify-content: flex-start;
}

category-value-select, travel-evaluation {
    align-self: flex-start;
    flex: 1;
}

co2-footprint {
    background-image: url('../img/skala-hintergrund.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-position-y: 68px;
    background-size: 68%;
    width: 100px;
    align-self: flex-end;
    margin-top: -60px;
}

co2-footprint svg{
    position: relative;
    right: -18px;
}

travel-planner .toggle-footprint{
    margin-top: 20px;
    z-index: 1;
}

travel-planner .footprint-container {
    display: flex;
    flex-direction: column;
}

.btn-group-vertical>.btn:first-child:not(:last-child) {
    border-top-right-radius: 0px;
}

travel-evaluation .choose-option-hint,
.btn-primary {
    background-color: #93d661;
    border-left-color: #93d661;
    border-right-color: #93d661;
    border-top-color: #559a41;
    border-bottom-color: #559a41;
    border-radius: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

main-nav .btn-primary {
    border-top-color: #93d661;
    border-bottom-color: #93d661;
    border-left-color: #559a41;
    border-right-color: #559a41;
}

main-nav .step-btns .btn-primary {
    border-color: transparent;
}

.btn-primary.active {
    background-color: #69bd4f;
    border-top-color: #93d661;
    border-bottom-color: #93d661;
    border-left-color: #559a41;
    border-right-color: #559a41;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover,
.btn:active, .btn:focus, .btn:hover,
.btn.active:active, .btn.active:focus, .btn.active:hover {
    background-color: #69bd4f !important;
    border-top-color: #93d661;
    border-bottom-color: #93d661;
    border-left-color: #559a41;
    border-right-color: #559a41;
    outline: none !important;
    box-shadow: none;
}

travel-evaluation .link-container,
category-value-select .btn-group-vertical {
    width: 200px;
}

travel-evaluation .choose-option-hint {
    padding: 12px;
}

travel-planner .toggle-footprint,
travel-evaluation .btn,
travel-evaluation .choose-option-hint,
category-value-select .btn {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
}

travel-evaluation .heading,
.category-value-select .category-select-heading{
    background-color: #f5b120;
    font-size: 18px;
    width: 200px;
    padding: 12px;
    margin-bottom: 0px;
}

travel-evaluation .arrow-down,
.category-value-select .arrow-down{
    margin-bottom: 10px;
}

/*Background classes for different options in categories*/
travel-planner.bg1a {
    background-image: url('../img/1a.png');
}

travel-planner.bg1b {
    background-image: url('../img/1b.png');
}

travel-planner.bg1c {
    background-image: url('../img/1c.png');
}

travel-planner.bg1d {
    background-image: url('../img/1d.png');
}

travel-planner.bg1e {
    background-image: url('../img/1e.png');
}

travel-planner.bg1f {
    background-image: url('../img/1f.png');
}

travel-planner.bg1g {
    background-image: url('../img/1g.png');
}

travel-planner.bg2a {
    background-image: url('../img/2a.png');
}

travel-planner.bg2b {
    background-image: url('../img/2b.png');
}

travel-planner.bg2c {
    background-image: url('../img/2c.png');
}

travel-planner.bg2d {
    background-image: url('../img/2d.png');
}

travel-planner.bg2e {
    background-image: url('../img/2e.png');
}

travel-planner.bg2f {
    background-image: url('../img/2f.png');
}

travel-planner.bg2g {
    background-image: url('../img/2g.png');
}

travel-planner.bg3a {
    background-image: url('../img/3a.png');
}

travel-planner.bg3b {
    background-image: url('../img/3b.png');
}

travel-planner.bg3c {
    background-image: url('../img/3c.png');
}

travel-planner.bg3d {
    background-image: url('../img/3d.png');
}

travel-planner.bg4a {
    background-image: url('../img/4a.png');
}

travel-planner.bg4b {
    background-image: url('../img/4b.png');
}

travel-planner.bg4c {
    background-image: url('../img/4c.png');
}

travel-planner.bg4d {
    background-image: url('../img/4d.png');
}

travel-planner.bg4e {
    background-image: url('../img/4e.png');
}

travel-planner.bg4f {
    background-image: url('../img/4f.png');
}

travel-planner.bg4g {
    background-image: url('../img/4g.png');
}

travel-planner.bg4h {
    background-image: url('../img/4h.png');
}

travel-planner.bg5 {
    background-image: url('../img/5.png');
}

travel-planner.bg6 {
    background-image: url('../img/6.png');
}
